.DS_Store
node_modules
lib
target
node
node_tmp
npm-debug.log
*.iml
*.tgz
coverage
.now-cli
.babelrc
/clover.xml
/coverage-final.json
/lcov-report/
/lcov.info
/lib/
/target/
!/dist/scripts/sn-component-custom-tinymce/skins/sn-editor/
/dist/@saleswon/
!/demo-preview/